.fullPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.searchBar {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.toggleAdvancedSearch {
  text-decoration: solid;
  margin: 0 auto;
  cursor: pointer;
}

.filterSideBar form > div {
  padding: 5px 6px 5px 5px;
  border-bottom: 1px dashed #323232;
}

.filterSideBar form div label {
  padding-right: 5px;
}

.content {
  display: flex;
  flex-grow: 1;
}

.filterSideBar {
  order: 1;
  position: sticky;
  top: 0;
  padding-left: 20px;
}

.membersList {
  flex-grow: 1;
  order: 2;
  padding: 1rem;
  margin: 0 auto;
}

.hidden {
  display: none;
}

input:focus::placeholder {
  color: transparent;
}

input[type="checkbox"]:checked {
  border-color: var(--dsa-red);
  accent-color: var(--dsa-red);
}
