.chartContainer {
  max-width: 650px;
  max-height: 500px;
  position: relative;
}

.numbersAside {
  max-width: 40%;
  order: 1;
}

.chartAside {
  max-width: 55%;
  order: 2;
  flex-grow: 1;
}

.statistics aside {
  padding: 10px 5px 10px 10px;
}

main.statistics {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.inactive {
  color: rgba(0, 0, 0, 0.5) !important;
}

.active {
  color: unset !important;
}
