<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="assets/favicon-99e78cb8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSA Membership Visualizer</title>
    <script type="module" crossorigin src="assets/index-a0f8bec4.js"></script>
    <link rel="modulepreload" crossorigin href="assets/vendor-03a5f270.js">
    <link rel="stylesheet" href="assets/vendor-567829f8.css">
    <link rel="stylesheet" href="assets/index-19caf6cd.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
