{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/react/favicon-99e78cb8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSA Membership Visualizer</title>
    <script type="module" crossorigin src="/static/react/index-d30d4194.js"></script>
    <link rel="modulepreload" crossorigin href="/static/react/vendor-8dbdfeb8.js">
    <link rel="stylesheet" href="/static/react/vendor-567829f8.css">
    <link rel="stylesheet" href="/static/react/index-fc2c58c8.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
